<!DOCTYPE HTML>
<html>
  <head>
    <title> Sorting the data</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
      var app = angular.module("Module1",[])
                .controller("Controller1",function($scope){          
      var employee = [
        {name:"Dharani",gender:"female",dateOfBirth:new Date("November 8, 1994"),salary:80000},
        {name:"Viswa",gender:"male",dateOfBirth:new Date("August 14, 1984"),salary:150000},
        {name:"Pushpa",gender:"female",dateOfBirth:new Date("April 4, 1982"),salary:50000},
        {name:"Keertana",gender:"female",dateOfBirth:new Date("May 18, 1992"),salary:40000},
        {name:"Srikanth",gender:"male",dateOfBirth:new Date("July 15, 1979"),salary:200000}
        ];
		
       $scope.emp = employee;
	   $scope.search=function(item){
		   if($scope.searchtext==undefined){
				return true;
		   }
		   else{
			   if(item.name.toLowerCase().indexOf($scope.searchtext.toLowerCase()) != -1||item.gender.toLowerCase().indexOf($scope.searchtext.toLowerCase()) != -1){
					return true;
			   }
		   }
		   return false;
	   }
	   
    });
         
    </script>
	
	<style>
			body{font-family:Arial;}
			table{border-collapse:collapse;}
			td{border:1px solid black; padding:5px;}
			th{border:1px solid black; padding:5px; text-align:left;cursor:pointer}
	</style>
  </head>
  <body ng-app="Module1">
    <div ng-controller="Controller1">
	<!-- <input type="text" placeholder="search name" ng-model="search.name"/>
	<input type="text" placeholder="search gender" ng-model="search.gender"/>
	<input type="checkbox" ng-model="exactMatch"/>Exact Match
	<br><br/> -->
	<input type="text" placeholder="search gender & name" ng-model="searchtext"/>
	<br></br>
      <table>
        <thead>
          <tr>
           <th>Name</th>
		   <th>Gender</th>
		   <th>Dob</th>
		   <th>Salary</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="employee in emp|filter:search">
            <td>{{employee.name}}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.dateOfBirth|date:"dd/MM/yyyy"}}</td>
            <td>{{employee.salary}}</td>
          </tr>
        </tbody>  
        </table>
    </div>
  </body>
</html> 
